!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title О компании / Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header_favorites.haml')).render

    %main#main.main{role: 'main'}      
      = Haml::Engine.new(File.read('views/layouts/_sidebar.haml')).render

      %section{role: 'region', aria: {label: 'My favorites'}}
        .ctn.pt-4.pb-6

          .grid
            .grid_i.grid_i__desktop-grid-8-12.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1

              %nav.mb-4
                %ul.page-nav
                  %li.page-nav_i>
                    %a.page-nav_i_a{href: 'services.html'} Услуги
                  %li.page-nav_i
                    %a.page-nav_i_a.page-nav_i_a__current{href: 'about.html'} О компании
                %ul.sub-page-nav
                  %li.sub-page-nav_i>
                    %a.sub-page-nav_i_a.sub-page-nav_i_a__current{href: '#'} История компании
                  %li.sub-page-nav_i>
                    %a.sub-page-nav_i_a{href: '#'} Направления и профиль деятельности
                  %li.sub-page-nav_i>
                    %a.sub-page-nav_i_a{href: '#'} Партнеры

              %article
                %header.mb-2
                  %h1 История компании
                %div.cnt
                  %blockquote
                    Возьмемся за руки, друзья,
                    %br
                    Чтоб не пропасть по-одиночке
                  %p Вкратце история нашей, только что родившейся, компании такова:
                  %p Во&nbsp;время одной из&nbsp;рабочих встреч, посвященной организации нового девелоперского проекта с&nbsp;большим количеством участников, давно сотрудничающие собственники и&nbsp;руководители консалтинговой, рекламно-маркетинговой, строительной и&nbsp;риэлтерской компаний в&nbsp;процессе обмена своими наблюдениями за&nbsp;покупательским поведением и&nbsp;практикой взаимоотношений со&nbsp;своими клиентами, следующим образом сформулировали свои обобщенные наблюдения:
                  %ol
                    %li Как правило, преддоговорная работа с&nbsp;клиентом занимает от&nbsp;1&nbsp;до&nbsp;6&nbsp;месяцев.
                    %li Средний срок исполнения контракта гораздо меньше&nbsp;&mdash; от&nbsp;10&nbsp;рабочих дней до&nbsp;100 рабочих дней.
                    %li Как правило, после сдачи-приемки работ, выполненных нашими узко-специализированными компаниями, клиент просит рекомендовать ему надежную местную компанию для помощи в&nbsp;исполнении следующих стадий жизненного цикла его объектов недвижимости (после получения инвестиционного проекта, например, компанию оценщика, инвесткомпанию, архитекторов, строителей; на&nbsp;этапе строительства&nbsp;&mdash; рекламщиков, риэлторов, управляющую компанию...)
                    %li Часть клиентов, воспользовавшись данными рекомендациями, размещают заказы у&nbsp;наших коллег, что приятно и&nbsp;нам, и&nbsp;им. Но&nbsp;другая часть, к&nbsp;сожалению, большая&nbsp;&mdash; безвозвратно теряется.
                  %p Как достаточно крупные специалисты в&nbsp;своих областях, к&nbsp;тому&nbsp;же хорошо знакомые с&nbsp;трудами Ф.Котлера, М.Портера и&nbsp;Г.Хамела, участники этой исторической встречи сделали следующий эпохальный вывод:
                  %p Точно так&nbsp;же, как типичный московский обыватель делает сегодня свой выбор в&nbsp;пользу нечастых, но&nbsp;достаточно длительных походов в&nbsp;ближайший ТРЦ с&nbsp;якорным арендатором типа гипермаркет &laquo;Ашан&raquo;, где имеет возможность в&nbsp;комфортных условиях совершить одновременно покупку всего: от&nbsp;буханки хлеба до&nbsp;холодильника, так и&nbsp;наши клиенты-компании обозначают нам новый тренд&nbsp;&mdash; многопродуктовость, т.е. потребность получения ими широкого спектра самых разнообразных услуг в&nbsp;том месте, где при приемлемом для них уровне цен уже получали продукт или услугу надлежащего качества (принцип: &laquo;от&nbsp;добра&nbsp;&mdash; добра не&nbsp;ищут&raquo;).
                  %figure
                    %img{src: 'assets/images/photo-1.jpg', width: '100%'}
                    %figcaption Возьмемся за&nbsp;руки, друзья, Чтоб не&nbsp;пропасть по-одиночке
                  %p Так появилась идея выйти на&nbsp;высококонкурентный рынок московской недвижимости путем учреждения многопродуктовой компании нового типа, которая, в&nbsp;первую очередь, построит сеть продуктов для аудитории, которая нас уже знает, с&nbsp;которой мы&nbsp;сможем общаться напрямую.
                  %p Сегодня мы&nbsp;с&nbsp;радостью отмечаем рождение специализированного агентства недвижимости &laquo;ПроДом&raquo;, которое не&nbsp;только продает, сдаёт в&nbsp;аренду жилую (земельные участки, дома, коттеджи, таунхаузы, квартиры) и&nbsp;коммерческую (офисную, торговую) недвижимость, но&nbsp;и&nbsp;предоставляет широкий комплекс услуг в&nbsp;сфере управления недвижимостью.
                  %p Наше кардинальное отличие от&nbsp;традиционных риэлторских агентств заключается в&nbsp;том, что мы&nbsp;обслуживаем не&nbsp;только физических лиц&nbsp;&mdash; частных граждан, желающих купить/продать/арендовать жилую недвижимость, но&nbsp;также и&nbsp;юрлиц-игроков строительного рынка (банки, инвесткомпании, девелоперов, застройщиков, управляющих фондами недвижимости и&nbsp;пр.) и&nbsp;владельцев земли, жилой и&nbsp;коммерческой недвижимости, желающих купить/продать/сдать/ взять в&nbsp;аренду/эксплуатировать жилую/ коммерческую недвижимость.
                  %p При этом наша &laquo;многопродуктовость&raquo; при каждом следующем заказе позволяет значительно сэкономить время клиента как на&nbsp;стадии преддоговорной работы, так и&nbsp;на&nbsp;сроке исполнения контракта (например, за&nbsp;счет исключения предпроектного диагностического обследования компании, обмена реквизитами и&nbsp;контактами, получения необходимых материалов, взаимных проверок партнера на&nbsp;риски работы с&nbsp;ним и&nbsp;на&nbsp;риски, связанные с&nbsp;его обязательствами (в&nbsp;т.ч. кредиторская задолженность), знакомства и&nbsp;&laquo;притирания&raquo; с&nbsp;руководством и&nbsp;проектной командой Заказчика и&nbsp;др.).
                  %p Реализация выбранного нами подхода позволяет также предлагать покупателям/арендаторам, как правило, досконально известные нам объекты недвижимости, потому что мы&nbsp;принимали участие или в&nbsp;разработке концепции застройки земельного участка, или в&nbsp;его оценке, или в&nbsp;получении разрешений на&nbsp;строительство, или регистрировали результаты строительства, или разрабатывали концепцию продаж, или&nbsp;&mdash; всё это и&nbsp;многое другое вместе. Проще говоря, мы, как правило, знаем о&nbsp;том, о&nbsp;чем обычные риэлторы даже не&nbsp;задумываются, например: кто, что, когда и&nbsp;как строил, о&nbsp;схемах прокладки подземных коммуникаций, о&nbsp;топографических координатах всех точек врезок, о&nbsp;ТМ, толщине и&nbsp;плотности применявшихся при строительстве утеплителей, кто, где и&nbsp;когда выдал те&nbsp;или иные кадастры и&nbsp;разрешительные документы, об&nbsp;обременениях, о&nbsp;всех проводившихся экспертных оценках объектов недвижимости и&nbsp;т.д. Естественно, что всеми этими знаниями мы&nbsp;щедро делимся с&nbsp;нашими клиентами, делая их&nbsp;выбор максимально обоснованным.
                  %p Добро пожаловать в&nbsp;АН&nbsp;&laquo;ПроДом&raquo;!

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render