!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Избранное / Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header_favorites.haml')).render

    %main#main.main{role: 'main'}      
      = Haml::Engine.new(File.read('views/layouts/_sidebar.haml')).render

      %section{role: 'region', aria: {label: 'My favorites'}}
        .ctn.pt-4.pb-6

          .items
            .mb-6
              .grid
                - 1.upto(6) do
                  .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1>
                    = Haml::Engine.new(File.read('views/common/_item.haml')).render

            = Haml::Engine.new(File.read('views/common/_load_more.haml')).render

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render