!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Параметры / Поиск / Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render

    %main#main.main{role: 'main'}      
      = Haml::Engine.new(File.read('views/layouts/_sidebar.haml')).render

      %section{role: 'region', aria: {label: 'Search params'}}
        .ctn.pt-3.pb-6

          = Haml::Engine.new(File.read('views/common/_search.haml')).render

          %div.search-result
            %div.tags.tags__main.tags__search
              - 1.upto(3) do
                %a.tags_item{href: '#', style: 'border-color: #a8da9b;'}> Рядом школа
                %a.tags_item{href: '#', style: 'border-color: #7bcc39;'}> Бассеин
                %a.tags_item{href: '#', style: 'border-color: #2fc4cd;'}> Лесопарковая зона
                %a.tags_item{href: '#', style: 'border-color: #ba82cc;'}> Минское шоссе

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render