!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Услуги / Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header_favorites.haml')).render

    %main#main.main{role: 'main'}      
      = Haml::Engine.new(File.read('views/layouts/_sidebar.haml')).render

      %section{role: 'region', aria: {label: 'My favorites'}}
        .ctn.pt-4.pb-6

          .grid
            .grid_i.grid_i__desktop-grid-8-12.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1

              %nav.mb-4
                %ul.page-nav
                  %li.page-nav_item>
                    %a.page-nav_link.page-nav_link__current{href: 'services.html'} Услуги
                  %li.page-nav_item
                    %a.page-nav_link{href: 'about.html'} О компании
                %ul.sub-page-nav
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link.sub-page-nav_link__current{href: '#'} Риэлторские услуги
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Консультационные услуги
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Юридические услуги
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Управление девелоперскими проектами
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Эксплуатация недвижимости
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Постановка офиса продаж &laquo;под ключ&raquo;
                  %li.sub-page-nav_item>
                    %a.sub-page-nav_link{href: '#'} Инвестиционный брокеридж

              %article.mb-5
                %header.mb-2
                  %h1 Услуги
                %div.cnt
                  %p Прежде всего&nbsp;&mdash; уют. Больших комнат в&nbsp;английском доме немного, как правило, не&nbsp;более двух. Холл, вокруг которого расположены все помещения первого этажа, включая &laquo;great room&raquo;- место, где встречают гостей и&nbsp;собираются всей семьёй. Другие помещения в&nbsp;доме&nbsp;&mdash; компактные, но&nbsp;не&nbsp;тесные. Такие, чтобы создавалось ощущение мягкого комфорта.

              - 1.upto(3) do |i|
                .services-item
                  .grid
                    .grid_i.grid_i__middle.grid_i__desktop-grid-3-8.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1>
                      .tx-center
                        %img.va-t{src: "assets/images/services_#{i}.jpg", alt: 'Номос Банк'}
                    .grid_i.grid_i__middle.grid_i__desktop-grid-5-8.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1>
                      %article
                        %header.services-item_header Номос Банк
                        %p Управленческое, финансовое, правовое и&nbsp;инвестиционное консультирование
                        %footer
                          %a{href: '#'} www.nomos.ru

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render